.header {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    padding: 10px;
    justify-content: flex-end;
}

.left-header {
    margin-left: 8em;
    
}

.right-header {
    margin-left: 600px;
    margin-right: 50px;
}

.links {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1F2937;
}